body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 10vh;
}

.container {
    padding: 2vh;
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1vh 2vw;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.digivice-container {
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

.digivice-container img {
    width: 5vw;
    height: auto;
    margin-right: 2vw; 
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
    max-width: 60vw;
    width: 100%;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.search-input {
    padding: 1vh;
    font-size: 2vh;
    border-radius: 4px;
    border: 1px solid #ddd;
    flex: 1;
    margin-right: 1vw;
}

.search-button {
    padding: 1vh 2vw;
    font-size: 2vh;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap; 
    text-align: center;
}

.search-button:hover {
    background-color: #45a049;
}


.digimon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    margin-top: 2vh;
    padding: 2vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.image-container img {
    width: 20vw;
    height: auto;
    border-radius: 10px;
}

.info-container h1 {
    margin: 0;
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 1vh;
}

.info-container p {
    margin: 1vh 0;
    font-size: 2.5vh;
}


.evolucao-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr)); 
    gap: 2vw;
    margin-top: 2vh;
    width: 100%;
}

.evolucao {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1vh;
    text-align: center;
    background-color: #f9f9f9;
    overflow: hidden;
}

.evolucao img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.evolucao h2 {
    margin-top: 1vh;
    font-size: 2vh;
}

.evolucao p {
    font-size: 1.5vh;
    color: #555;
}


#resultado-evolucao-anterior, #resultado-evolucoes-possiveis {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr)); 
    gap: 2vw;
    margin-top: 2vh;
    width: 100%;
}

#resultado-evolucao-anterior .evolucao, #resultado-evolucoes-possiveis .evolucao, .digimon-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1vh;
    text-align: center;
    background-color: #f9f9f9;
    overflow: hidden;
}

#resultado-evolucao-anterior .evolucao img, #resultado-evolucoes-possiveis .evolucao img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

#resultado-evolucao-anterior .evolucao h2, #resultado-evolucoes-possiveis .evolucao h2 {
    margin-top: 1vh;
    font-size: 2vh;
}

#resultado-evolucao-anterior .evolucao p, #resultado-evolucoes-possiveis .evolucao p {
    font-size: 1.5vh;
    color: #555;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .digivice-container {
        margin-bottom: 0;
        margin-right: 1vw;
    }

    .digivice-container img {
        width: 8vw; 
    }

    .search-form {
        width: calc(100% - 10vw);
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }

    .search-input {
        width: calc(100% - 10vw);
        margin-right: 1vw;
    }

    .search-button {
        width: 9vw; 
        font-size: 1.5vh; 
    }

    .image-container img {
        width: 15vw;
    }

    .info-container h1 {
        font-size: 3vh;
        text-align: center;
    }

    .info-container p {
        font-size: 2vh;
        text-align: center;
    }

    body {
        padding-top: 8vh;
    }

    .digimon-container {
        padding: 1vh;
        gap: 2vw;
    }

    .evolucao-container {
        grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr)); 
    }

    .evolucao {
        padding: 0.5vh;
    }

    .evolucao img {
        max-width: 80%;
    }

    #resultado-evolucao-anterior, #resultado-evolucoes-possiveis {
        grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr)); 
    }
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .digivice-container {
        margin-bottom: 0;
        margin-right: 1vw;
    }

    .digivice-container img {
        width: 10vw; 
    }

    .search-form {
        flex-direction: row;
        align-items: center;
        width: calc(100% - 12vw);
    }

    .search-input {
        margin-bottom: 0;
        width: calc(100% - 12vw);
    }

    .search-button {
        width: 10vw;
        margin-left: 1vw;
        font-size: 1.5vh; 
    }

    .evolucao-container {
        grid-template-columns: 1fr;
    }

    .evolucao {
        margin: 1vh 0;
        padding: 0.5vh;
    }

    .evolucao img {
        max-width: 80%;
    }

    #resultado-evolucao-anterior, #resultado-evolucoes-possiveis {
        grid-template-columns: 1fr;
    }
}
